.App {
  text-align: center;
  margin-top: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ScheduleTitle{
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px;
}
.ScheduleTitle .Text{
  background-color: #f8f9fa;
  padding:0 10px; 
}
.AppContainer{
  padding: 15px;
}

.ListExplain{
  font-size: 14px;
  margin-top: 14px;
}
.EasternExplain{
  font-size: 14px;
  text-align: left;
  color: #888888;
  font-style: italic;
}

.FindNetwork{
  text-align: right;
  font-size: 14px;
}
.TVIcon{
  height: 15px;
  margin-right: 10px;
}
.Divider{
  height: 50px;
}
.Credits{
  margin-top:10px;
  color: white;
}
.ToggleIcon{
  height:15px;
  margin: 5px;
  margin-top:2px;
}