.Game{
    height: 50px;
    padding-top:12px;
    padding-bottom:12px;
    font-weight: 500;
    font-size: 15px;
}
.Date{
    text-align: left;
}
.Time{
    color: #888888;
}
.Extra{
    text-align: left;
    font-weight: 400;
}

.MediaSection{
    text-align: right;
}
.MediaSectionMobile{
    text-align: left;
}
.NetworkIcon{
    width:30px;
}
.NetworkIconLarge{
    width:65px;
}
.GamedayIcon{
    height:20px;
    cursor:pointer;
    margin-left:10px;
}
.TeamScore{
    text-align: left;
}
.MobileGameBody{
    cursor: pointer;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}
.MobileCaret{
    height:16px;
    margin-top:12px;
}

.underrow{
    margin-top:10px;
}
.test{
    background-color:green;
}
.TinyLogo{
    padding-right:4px;
    padding-left:4px;
    margin-top:-4px;
    height:20px;
}
.SeriesQuickInfo{
    font-size:10px;
    margin-top: -4px;
    color: #777777
}
.SeriesQuickInfoMobile{
    margin-top: 0px;
    font-size: 12px;
}

A:link { text-decoration: none }
A:active { text-decoration: none }
A:visited { text-decoration: none }